<html>

<body>
    <input type="text" id="valor1" />
    <input type="text" id="valor2" />
    <input type="button" value="Ver nota" onclick="retornaMedia(parseInt(document.getElementById('valor1').value,10), parseInt(document.getElementById('valor2').value,10), 'Douglas');"
    />
    <script>
                
        function retornaMedia(nota1, nota2, nome){
            debugger
            var resultadoMedia = ((nota1 + nota2) / 2)
            if(resultadoMedia >= 6){
                alert('Voce passou na unijapa sua média é ' + resultadoMedia + ' Parabens ' + nome)
            }else{
                alert('Reprovado na unijapa')
            }
        return resultadoMedia;
        }
</script>
</body>

</html>