<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://npmcdn.com/vue@next/dist/vue.js"></script>
</head>
<body>
  <div id="simbioxApp">
    <filled-dropdown id="locations" method="get_Pais"></filled-dropdown>
  </div>

  <script>
    "use strict"

    var ddComponent = Vue.extend({
      template:
        '<select v-model="selected">\
          <option v-for="option in options" v-bind:value="option.value">\
            {{ option.text }}\
          </option>\
        </select>',
      data: function(){
        var _data = {
          selected: '-1',
          options: [
            { text: 'Selecione', value: '-1' }
          ]
        };
        console.log(this)
        return _data;
      },
      ready: function(){
        debugger;
      },
      props: ['method']
    });
    
    Vue.component("filled-dropdown",ddComponent);

    new Vue({
      el: '#simbioxApp',
      created: function () {
        //this.options.push({
        //  val:1,opt:"Brasil"
        //});
      }
    })
  </script>
</body>
</html>
