<div class="wp-documentos-departamentos">
    <h2 class="title-box">Documentos</h2>
    <div class="scroll-wrapper scrollbar-inner scroll-documents" style="position: relative;">
        <div class="scrollbar-inner scroll-documents scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 116px;">
            <ul class="list-box">
                <li title="Um novo Doc" rel="13">
                    <a target="_blank" href="http://aps371/Departamento/Departamentos/Forms/DispForm.aspx?ID=13" title="Clique para fazer o download.">
                        <div class="icone"></div>
                        <div class="infos">
                            <h2>[Um novo Doc]</h2> <span class="data">31/08/2016</span> </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scroll-element scroll-x">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="width: 100px;"></div>
            </div>
        </div>
        <div class="scroll-element scroll-y">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="/style library/js/WP.DepartamentosDocumentos.js"></script>
<script type="text/javascript">
$(document).ready(function(){
WP_Departamentos.buildWP('Finanças');
WP_Noticias.buildWP('Finanças');
})
</script>
<div class="wp-documentos-departamentos"></div>

<!-- Noticias -->

<div class="wp-documentos-noticias">
    <h2 class="title-box">Notícias</h2>
    <div class="scroll-wrapper scrollbar-inner scroll-noticias" style="position: relative;">
        <div class="scrollbar-inner scroll-noticias scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 270px;">
            <ul class="list-box">
                <li title="Noricia 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit." rel="8">
                    <a href="/pages/detalhes-noticia.aspx?nID=8&amp;Noticia=Noricia 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        title="Clique para fazer o download.">
                        <div class="infos">
                            <h2>Noricia 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> <span class="data">01/05/2016</span>                            <span class="resumo">Lorem ipsum dolor sit amet, consectetur adipi...</span> </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scroll-element scroll-x">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="width: 100px;"></div>
            </div>
        </div>
        <div class="scroll-element scroll-y">
            <div class="scroll-element_outer">
                <div class="scroll-element_size"></div>
                <div class="scroll-element_track"></div>
                <div class="scroll-bar" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/style library/js/WP.DepartamentosNoticias.js"></script>
<div class="wp-documentos-noticias"></div>




<ul class="custom-list destaques">
    <li>
        <a href="/pages/detalhes-noticia.aspx?nID=undefined&amp;Noticia=O que são Carboidratos Completos Vegetais?" title="O que são Carboidratos Completos Vegetais?"><span class="foto"><img src="/PublishingImages/noticia02.jpg?RenditionID=7" alt="O que são Carboidratos Completos Vegetais?"></span></a>
        <span class="infos">        							<span class="data">01.02.2016</span>
        <a href="/pages/detalhes-noticia.aspx?nID=2&amp;Noticia=O que são Carboidratos Completos Vegetais?"
            title="O que são Carboidratos Completos Vegetais?">
            <h3>O que são Carboidratos Completos Vegetais?</h3>
        </a>
        <p>São substâncias presentes principalmente em vegetais,</p> <a href="/pages/detalhes-noticia.aspx?nID=2&amp;Noticia=O que são Carboidratos Completos Vegetais?"
            title="O que são Carboidratos Completos Vegetais?" class="leia-mais">Leia Mais</a> </span>
    </li>
</ul>